@model IEnumerable<Raunstrup_Webapplication.Models.ResourceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resource</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-primary btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Res_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Res_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
