@model Raunstrup_Webapplication.ViewModel.ReportViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Viggo-->
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>


<h1>Report</h1>

<!--Input forms-->
<form asp-action="Details">
    <label for="Employee_ID">Employee ID</label>
    <input type="number" id="Employee_ID" name="Employee_ID" placeholder="This is not implamented yet" style="margin: 10px" min="1">
    <label for="Offer_ID">Offer ID</label>
    <input type="number" id="Search" name="id" style="margin: 10px" min="1">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<!--Search function-->
<form>
    <label for="Offer">Offers</label>
    <select id="Offer" name="Offer">
    </select>
</form>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#Search").autocomplete({
                source: "Controllers/ReportController/Details"
            })
        })
    </script>
}