@model Raunstrup_Webapplication.ViewModel.OfferViewModel
@* Nichlas *@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferModel.Offer_Title" class="control-label"></label>
                <input asp-for="OfferModel.Offer_Title" class="form-control" />
                <span asp-validation-for="OfferModel.Offer_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferModel.ForeignKey1_.Costumor_Id" class="control-label"></label>
                @Html.DropDownListFor(m => m.OfferModel.ForeignKey1_.Costumor_Id, new SelectList(Model.CustomerModels, "Costumor_Id", "Costumor_Id"), "-Select Customer-", new { @class = "form-group" })
            </div>
            <div class="form-group">
                <label asp-for="OfferModel.Start_date" class="control-label"></label>
                <input asp-for="OfferModel.Start_date" class="form-control" />
                <span asp-validation-for="OfferModel.Start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferModel.End_Date" class="control-label"></label>
                <input asp-for="OfferModel.End_Date" class="form-control"/>
                <span asp-validation-for="OfferModel.End_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferModel.Offer_Price" class="control-label"> Estimated Price</label>
                <input asp-for="OfferModel.Offer_Price" class="form-control" />
                <span asp-validation-for="OfferModel.Offer_Price" class="text-danger"></span>
            </div>
            <select asp-for="OfferModel.Status" class="form-group">
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Waiting">Waiting</option>
                <option value="Complete">Complete</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
