@{
    ViewData["Title"] = "About Raunstrup";
}
<h1>@ViewData["Title"]</h1>

<body>
<article title="About Raunstrup">
    <section class="text-center" title="About the Company">
        <picture>
            <img src="~/Images/Billede til About side.jpg" />
        </picture>

        <p>
            Raunstrup - "We've got what you need!"
        </p>
        <p>
            Here at Raunstrup we have highly skilled professionals, even though we are a fairly new company.
            We strive on bringing innovative and realistic ideas to the table, and leave customers satisfied the whole way through
        </p>
        <br/>
        <p>
                                        
        </p>
    </section>
</article>
</body>


