@{
    ViewData["Title"] = "About Raunstrup";
}
<h1>@ViewData["Title"]</h1> <!-- Jacob-->

<body>
    <article title="About Raunstrup">
        <section class="text-center" title="About the Company">
            <picture>
                <img src="~/Images/Billede til About side.jpg" />
            </picture>

            <p>
                Raunstrup - "We've got what you need!"
            </p>
            <p>
                Here at Raunstrup we have highly skilled professionals, even though we are a fairly new company.
                We strive on bringing innovative and realistic ideas to the table, and leave customers satisfied the whole way through.
            </p>
            <br />
            <b>
                Wanna learn more about Raunstrup?
            </b>
            <br />
        </section>
        <section class="text-center">
            <ul class="list-unstyled">
                <li>
                    <a href="tel:87 120 120" target="_blank"> Make a call!</a>
                </li>
                <li>
                    <a href="mailto:mail@raunstrup.com " target="_blank"> Send us an Email!</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/raunstrup-t-mrer" target="_blank"> Follow us on Linkedin!</a>
                </li>
            </ul>
        </section>
    </article>
</body>