@{
    ViewData["Title"] = "Raunstrup --- Tømre og montagefirma";
}
Noter til mig selv. Kig inde på raunstrups hjemmeside i forhold til opbygning, men også hvordan at de har valgt at opsætte det over i deres kode på HTML filen. 

<body>
<article title="Top of Page">
    <section title="Headline and text">
        <h1>
            Welcome to Raunstrup A/S
        </h1>
        <div class="row" title="start text">
            <section>
                <p>
                    Raunstrup is a carpenter business with many connections around in Denmark, but the Headquarters are located in Vejle
                </p>
            </section>
            
        </div>
        <section class="text-info" title="how to use">
            <p>
                how to use the website:
            </p>
        </section>
        <section class="row">
            <ul class="list-group-item" title="How to use website" >
                <li title="first"> <!-- add a link to the sign up page--> 
                    first you need to sign up on the website, so that we may get some details about you.
                </li>
                <li title="second"> <!--add link to the "contact us" page-->
                    secondly, you need to contact the cern and get an employee to make a status report on the service you would like of us to provide 
                </li>
                <li title="third">
                    Thirdly and lastly, you will be send an offer by mail about the services that we can provide. 
                </li>
            </ul>
        </section>

        <p class="row">
            need a job done?
        </p>
        <p> <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Privacy">click Here</a> </p> 
    </section>
    <section>
        dadasdasdasd
    </section>
</article>
</body>
<footer>
    
</footer>
