@{
    ViewData["Title"] = "Contact Information";
}
<h1>@ViewData["Title"]</h1>

<body>
<article title="Contact Information">
    
    <section class="row">
        <ul>
            <li class="row" title="Phonenumber">
                <p>
        
                </p>
            </li>
            <li class="row" title="Email">
                <p>

                </p>
            </li>
            <li class="row" title="Adress">
                <p>

                </p>
            </li>
        </ul>

    </section>

</article>


</body>


